$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.huge {
    font-size: 7em;
    font-family: monospace;
    min-height: 100%;
}
input.huge {
    line-height: 1em;
    height: 1.1em;
    text-align: center;
    font-family: monospace;
}

.navbar {
    margin-bottom: 0px;
}

.options, .scoreboard{
  overflow:hidden; /* max height kleiner dan nodige height --> hidden */
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
  height: 100%;
  min-height: 196px;
  max-height: 196px;
  background-color: rgb(253, 253, 253);
  padding: 10px;
  border: 1px solid #F7F5F5;
}
.options.ng-hide-add,
.options.ng-hide-remove,
.scoreboard.ng-hide-add,
.scoreboard.ng-hide-remove {
  display:block!important;
  padding-bottom: 0px;
}
.options.ng-hide, .scoreboard.ng-hide {
  min-height: 0px;
  max-height: 0px;
}

.statusbar .title{
    font-size: 2.3em;
}

.center-block {
    text-align: center;
}

.navbar-btn {
    margin-left: 5px;
    margin-right: 5px;
}
.menu-button {
    background-color: transparent;
}
.menu-button .icon-bar {
  background-color: black;
  display: block;
  width: 22px;
  height: 3px;
  border-radius: 1px;
}
.menu-button .icon-bar+.icon-bar {
  margin-top: 5px;
}

/* HTML5 Boilerplate stuff */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    /*padding-top: 20px;*/
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        /*max-width: 730px;*/
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
